{% extends "layout0.html" %}

{% block title %}
About
{% endblock %}

{% block main %}
    <!--https://www.freepik.com/free-photo/glass-designed-building-view_5253575.htm#query=hospital%20building&position=4&from_view=search&track=ais-->
    <div class="container mb-5">
        <div class="card body_1">
            <div class="card-img">
                <img src="/static/about.jpg" class="small_img" alt="Hospital building">
            </div>
            <div class="card-body mb-5">
                <ul class="list-group">
                    <li class="list-group-item"><h6 class="text-secondary"> Welcome to Health Hub, where compassionate care meets cutting-edge technology. We are dedicated to providing exceptional healthcare services to our community, ensuring the well-being and comfort of our patients.</h6></li>
                </ul>
     
        <div class="card body_1">
            <div class="card-body">
                <ul class="list-group">
                    <h5 class="text-dark">Our Mission</h5>
                    <li class="list-group-item"> <h6 class="text-secondary">Our mission is to provide the highest quality of care to our patients, utilizing the latest advancements in medical technology and treatment methods. We are committed to delivering compassionate care, ensuring the comfort and well-being of our patients.</h6></li>
                    <h5 class="text-dark">Our Vision</h5>
                    <li class="list-group-item"><h6 class="text-secondary">Our vision is to be a leading healthcare provider, delivering exceptional medical care and ensuring the well-being of our patients. We strive to be a trusted partner in our community, providing compassionate care and support to our patients and their families.</h6></li>
                    <h5 class="text-dark">Our Values</h5>
                    <li class="list-group-item"><h6 class="text-secondary">Our values are the guiding principles that define our organization and guide our actions. We are committed to:</h6></li>
                    <h5 
                </ul>
            </div>
        </div>
    </div> 


    <div class="container">
        <div class="card body_1">
            <ul class="list-group">
                <li class="list-group-item"><h6 class="text-secondary">Thank you for choosing Health Hub. We look forward to providing you and your loved ones with exceptional healthcare services and ensuring your well-being every step of the way.</h6></li>
            </ul>
        </div>
    </div>

{% endblock %}