{% extends "layout0.html" %}

{% block title %}
About
{% endblock %}

{% block main %}
    <!--https://www.freepik.com/free-photo/glass-designed-building-view_5253575.htm#query=hospital%20building&position=4&from_view=search&track=ais-->
    <div class="wrapper">
        <div class="card body_1">
            <div class="card-img">
                <img src="/static/about.jpg" class="tiny_img" alt="Hospital building">
            </div>
            <div class="card-body">
                <h6 class="text-secondary"> Welcome to Health Hub, where compassionate care meets cutting-edge technology. We are dedicated to providing exceptional healthcare services to our community, ensuring the well-being and comfort of our patients.</h6>
            </div>
        </div>
    </div>
    
    <p class="text-secondary"> At Health Hub, we understand that each patient is unique, and we strive to deliver personalized care tailored to their specific needs. Our team of highly skilled and experienced healthcare professionals is committed to delivering the highest standard of medical care, utilizing the latest advancements in technology and treatment methods.</p>
    <p class="text-secondary"> Our state-of-the-art facility is equipped with modern amenities and advanced medical equipment, enabling us to offer a comprehensive range of services across various specialties. From routine check-ups to complex surgeries, we are equipped to handle a wide array of medical conditions and emergencies.</p>
    <p class="text-secondary"> We believe that healthcare should be accessible to all, and we work tirelessly to ensure that our services are affordable and inclusive. Our compassionate staff is always ready to assist patients and their families, providing support and guidance throughout their healthcare journey.</p>
    <p class="text-secondary"> In addition to our exceptional medical care, we prioritize patient comfort and convenience. Our facility offers a warm and welcoming environment, designed to promote healing and relaxation. We also provide a range of amenities, including comfortable waiting areas, ample parking, and a cafeteria serving nutritious meals.</p>
    <p class="text-secondary"> At Health Hub, we value the trust our patients place in us, and we are committed to maintaining the highest standards of ethics, integrity, and professionalism. We continuously strive to improve our services through ongoing education, research, and innovation.</p>  
    <p class="text-secondary"> We are proud to be an integral part of the community, and we actively engage in various outreach programs and initiatives to promote health and wellness. Through partnerships with local organizations, we aim to make a positive impact on the lives of those we serve.</p>   
    <p class="text-secondary"> Thank you for choosing Health Hub. We look forward to providing you and your loved ones with exceptional healthcare services and ensuring your well-being every step of the way.</p>    

{% endblock %}