{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <!--https://www.freepik.com/free-vector/computer-troubleshooting-concept-illustration_20064239.htm#page=3&query=apology%20for%20a%20website%20without%20error%20code&position=31&from_view=search&track=ais-->
    <!-- https://memegen.link/ -->
    <img alt="{{ top }}" class="border img-fluid" src="https://memecomplete.com/share/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https://c.tenor.com/hwe3vkln0_UAAAAC/error-x-error.gif&token=4n6ci5ega0a52rl44mqk" title="{{ top }}">
    <!--<img class="image" alt="{{ top }}" width=50% height=40% class="border img-fluid" src="/static/apology.svg" title="{{ top }}">-->
{% endblock %}
