{% extends "layout.html" %}

{% block title %}
Medical devices
{% endblock %}

{% block main %}
<div class="wrapper mb-3">
    <div class="card body_1">
        <!--https://www.freepik.com/free-photo/high-angle-ct-scan-machine-room_24482132.htm#query=Magnetic%20Resonance%20Imaging%20MRI%20Machine&position=0&from_view=search&track=ais-->
        <img class="small_img" src="/static/mri.jpg" alt="MRI">
        <div class="card-body">
            <p class="card-text text-secondary">Our cutting-edge MRI scanner utilizes powerful magnetic fields and radio waves to generate detailed images of the body's internal structures. This non-invasive diagnostic tool aids in the detection and evaluation of various conditions, including neurological disorders, musculoskeletal injuries, and tumors.</p>
            <h6 class="card-title text-primary">Magnetic Resonance Imaging (MRI) Machine</h6>
            <h6 class="card-text text-secondary">Status: working</h6>
            
        </div>
    </div>
    <div class="card body_1">
        <img class="small_img" src="/static/xray.jpg" alt="X-ray">
        <div class="card-body">
            <p class="card-text text-secondary">Our digital X-ray machine provides quick and detailed images of bones, joints, and soft tissues. This essential diagnostic tool aids in the detection of fractures, infections, lung diseases, and other conditions, allowing our medical team to develop personalized treatment plans.</p>
            <h6 class="card-title text-primary">X-ray Machine</h6>
            <h6 class="card-text text-secondary">Status: working</h6>
        </div>
    </div>
    <div class="card body_1">
        <img class="small_img" src="/static/ctscan.jpg" alt="CT scanner">
        <div class="card-body">
            <p class="card-text text-secondary">Our advanced CT scanner produces cross-sectional images of the body, enabling our medical experts to obtain precise and comprehensive information about internal organs, blood vessels, and bones. This technology assists in diagnosing conditions such as cardiovascular diseases, cancer, and trauma-related injuries.</p>
            <h6 class="card-title text-primary">Computed Tomography (CT) Scanner</h6>
            <h6 class="card-text text-secondary">Status: Currently inoperative</h6>
        </div>
    </div>
    <div class="card body_1">
        <img class="small_img" src="/static/anesthesia.jpeg" alt="Anesthesia Machine">
        <div class="card-body">
            <p class="card-text text-secondary">At our hospital, we prioritize patient comfort and safety during surgical procedures, and our Anesthesia Machine plays a crucial role in achieving this. Our advanced Anesthesia Machine is equipped with cutting-edge features, ensuring accurate delivery of anesthesia gases and medications. With comprehensive monitoring capabilities, including vital signs and gas concentrations, 
                our Anesthesia Machine enables our skilled anesthesiologists to closely monitor patients throughout their surgical journey, ensuring optimal care and a smooth recovery.</p>
            <h6 class="card-title text-primary">Anesthesia Machine</h6>
            <h6 class="card-text text-secondary">Status: Currently inoperative</h6>
        </div>
    </div>
    <div class="card body_1">
        <img class="small_img" src="/static/Lithotripsy.png" alt="Lithotripsy">
        <div class="card-body">
            <p class="card-text text-secondary">Our state-of-the-art Lithotripsy Machine is designed to provide non-invasive treatment for kidney stones. Using advanced technology, this machine delivers focused shock waves to break down kidney stones, allowing for their natural passage through the urinary system. With precise targeting and minimal discomfort, our Lithotripsy Machine offers patients a safe and effective solution for kidney stone removal.</p>
            <h6 class="card-title text-primary">Lithotripsy Machine</h6>
            <h6 class="card-text text-secondary">Status: working</h6>
        </div>
    </div>
</div>
<h6 class="text-primary">We continuously upgrade our medical equipment to stay at the forefront of healthcare technology, ensuring that our patients receive the best possible care. Our commitment to innovation and excellence enables us to provide accurate diagnoses, effective treatments, and improved patient experiences.</h6>
{% endblock %}