{% extends "layout.html" %}

{% block title %}
Home
{% endblock%}

{% block main %}
<div class="story-panel__card js-story-panel__card" style="height: 587.156px;">
    <div class="story-panel__card-content story-panel__no-selection ">
    <a class="story-panel__image-link" href="/patients/information/access">
    <div class="story-panel__image-overlay">
    <img class="js-story-panel__image" src="/-/scassets/images/org/locations/home/appointments-card.jpg" width="634" height="356" alt="Appointments">
    </div>
    </a>
    <a class="story-panel__title-link" href="/patients/information/access"><h3 class="story-panel__title">Appointments</h3></a>
    <p class="story-panel__description">Get the in person or virtual care you need.</p>
    <a class="story-panel__button button" href="/patients/information/access">Schedule now</a>
    </div>
</div>
{% endblock %}