{% extends "layout.html" %}

{% block title %}
Home
{% endblock%}

{% block main %}
<!-- Create a nav bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Medical divices">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/P">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Schedule appointment -->
<div class="card">
    <!--https://www.freepik.com/free-photo/purple-calendar-clock-icon-3d-reminder-notification-concept-website-ui-purple-background-3d-rendering-illustration_24656222.htm#query=appointment&position=15&from_view=search&track=sph-->
    <img class="card-img-top" src="/static/appointment.jpg" width="634" height="356" alt="Appointments">
    <div class="card-body">
          <h5 class="card-text">Schedule an appointment</h5>
          <a href="/appointment" class="btn btn-primary">Schedule now</a>
    </div>
</div>
{% endblock %}