{% extends "layout0.html" %}

{% block title %}
Physicians
{% endblock %}

{% block main %}
<div id="info"></div>
<div class="mb-4">
    <form>
        <select class="form-select mx-auto w-auto bg-light" name="Physicians" onchange="physicians(this.value);">
            <option disabled selected value="">Select a physician</option>
            <option value="Ethan">Dr. Ethan Reynolds</option>
            <option value="Sophia">Dr. Sophia Anderson</option>
            <option value="Samuel">Dr. Samuel Thompson</option>
            <option value="Emily">Dr. Emily Martinez</option>
            <option value="Daniel">Dr. Daniel Walker</option>
        </select>  
    </form>
</div>
<div>
    <img id="image" src="/static/doctor.png" alt="Doctors">
</div>
{% endblock %}
