{% extends "layout.html" %}

{% block main %}
<div id="info">
    Info goes here
</div>
<div>
    <form action="/physicians" method="post">
        <select class="form-select mx-auto w-auto" onchange="physicians(this.value);" name="Physicians">
            <option disabled selected>Physicians</option>
            <option value="Ethan">Dr. Ethan Reynolds</option>
            <option value="Sophia">Dr. Sophia Anderson</option>
            <option value="Samuel">Dr. Samuel Thompson</option>
            <option value="Emily">Dr. Emily Martinez</option>
            <option value="Daniel">Dr. Daniel Walker</option>  
    </form>
</div>

{% endblock %}
