{% extends "layout.html" %}

{% block title %}
Services
{% endblock %}

{% block main %}

<h4 class="text-center text-secondary list-group-item">Services</h4>
<div class="wrappers text-light">
    <div class="card color_1 contain mx-2 mb-4">   
        <div class="card-title">
            <h4 class="text-center text-secondary">Specialized Services</h4> 
        </div>
        <div class="card-img">
            <!--<a href="https://www.freepik.com/search?format=search&last_filter=query&last_value=specialized+services&query=specialized+services&sort=relevance&type=icon">Icon by Graphix's Art-->
            <img src="/static/services.png" class="small_img" alt="Services">
        </div>
        <div class="card-body">
            <a href="/cancer"><h6>Cancer treatment</h6></a>
            <h6 class="text-primary">Organ transplantation</h6>
            <h6 class="text-primary">Fertility services</h6>
            <h6 class="text-primary">Rehabilitation</h6>
        </div>
    </div>
    <div class="card color_1 contain mx-2 mb-4 mx-2 mb-4">   
        <div class="card-title">
            <h4 class="text-center text-secondary">Emergency Services</h4> 
        </div>
        <div class="card-img">
            <!--<a href="https://www.freepik.com/search?format=search&last_filter=query&last_value=emergency+services&query=emergency+services&type=icon">Icon by Freepik-->
            <img src="/static/emergency.png" class="small_img" alt="Emergency">
        </div>
        <div class="card-body">
            <h6 class="text-primary">Emergency room facilities</h6>
            <h6 class="text-primary">Trauma care</h6>
            <h6 class="text-primary">Ambulance services</h6>
        </div>
    </div>
    <div class="card color_1 contain mx-2 mb-4">   
        <div class="card-title">
            <h4 class="text-center text-secondary">Diagnostic Services</h4> 
        </div>
        <div class="card-img">
            <!--<a href="https://www.freepik.com/search?format=search&last_filter=query&last_value=diagnostic+services+hospital&page=2&query=diagnostic+services+hospital&type=icon">Icon by wanicon-->
            <img src="/static/diagnose.png" class="small_img" alt="Diagnose">
        </div>
        <div class="card-body">
            <h6 class="text-primary">Radiology</h6>
            <h6 class="text-primary">Laboratory testing</h6>
            <h6 class="text-primary">Pathology</h6>
        </div>
    </div>
    <div class="card color_1 contain mx-2 mb-4">   
        <div class="card-title">
            <h4 class="text-center text-secondary">Surgical Services</h4> 
        </div>
        <div class="card-img">
            <!--<a href="https://www.freepik.com/search?format=search&last_filter=type&last_value=icon&query=surgical+services&type=icon">Icon by Freepik-->
            <img src="/static/surgery.png" class="small_img" alt="Surgery">
        </div>
        <div class="card-body">
            <h6 class="text-primary">Types of surgeries performed</h6>
            <h6 class="text-primary">Pre-operative</h6>
            <h6 class="text-primary">Post-operative care</h6>
            <h6 class="text-primary">Facilities and equipments</h6>
        </div>
    </div>
    <div class="card color_1 contain mx-2 mb-4">   
        <div class="card-title">
            <h4 class="text-center text-secondary">Outpatient Services</h4> 
        </div>
        <div class="card-img">
            <!--<a href="https://www.freepik.com/icon/patient_9733709#position=92&page=1&term=outpatient+services&fromView=search">Icon by Iconjam-->
            <img src="/static/patients.png" class="small_img" alt="Patient">
        </div>
        <div class="card-body">
            <h6 class="text-primary">Consultations</h6>
            <h6 class="text-primary">Follow-up appointments</h6>
            <h6 class="text-primary">Vaccinations</h6>
            <h6 class="text-primary">Preventive care</h6>
            <h6 class="text-primary">Wellness programs</h6>
        </div>
    </div>
    <div class="card color_1 contain mx-2 mb-4">   
        <div class="card-body">
            <h6 class="text-primary">Cardiology</h5>
            <h6 class="text-primary">Neurology</h5>
            <h6 class="text-primary">Orthopedics</h5>
            <h6 class="text-primary">Pediatrics</h5>
        </div>
    </div> 
    <div class="card color_1 contain mx-2 mb-4">   
        <div class="card-title">
            <h4 class="text-center text-secondary">Support Services</h4> 
        </div>
        <div class="card-img">
            <!--<a href="https://www.freepik.com/search?format=search&last_filter=query&last_value=support+services+hospital&query=support+services+hospital&type=icon">Icon by rukanicon-->
            <img src="/static/support.png" class="small_img" alt="Support">
        </div>
        <div class="card-body">
            <h6 class="text-primary">Pharmacy</h6>
            <h6 class="text-primary">Nutrition counseling</h6>
            <h6 class="text-primary">Physical therapy</h6>
            <h6 class="text-primary">Mental health services</h6>
            <h6 class="text-primary">Social work</h6>
            <h6 class="text-primary">Patient support groups</h6>
        </div>
    </div>
</div>

{% endblock %}