{% extends "layout0.html" %}

{% block title %}
Single rooms
{% endblock %}

{% block main %}

<img class="small_img" src="/static/single.jpg" alt="Single rooms">
<div>
    <h6 class="text-secondary">Status: {{ beds }}</h6>
    <!--<h6 class="text-secondary">Price: {{ price }} Birr</h6>-->
    <h5 class="text-primary">Accommodations and services</h5>
    <ul class="list-group">
        <li class="list-group-item bg-light">Bed with adjustable settings for patient comfort.</li>
        <li class="list-group-item body_1">Bedside table with drawers for personal belongings.</li> 
        <li class="list-group-item bg-light">Closet for storing clothes.</li> 
        <li class="list-group-item body_1">Recliner for visitors.</li> 
        <li class="list-group-item bg-light">Television with remote control.</li> 
        <li class="list-group-item body_1">Private bathroom with toilet, sink, and shower.</li> 
        <li class="list-group-item bg-light">Window with curtains or blinds for natural light.</li> 
        <li class="list-group-item body_1">Wi-Fi access for internet connectivity.</li>
    </ul>
</div>

{% endblock %}