{% extends "layout.html" %}

{% block title %}
Single rooms
{% endblock %}

{% block main %}

<img class="small_img" src="/static/single.jpg" alt="Single rooms">
<div>
    <h6>Status: {{ beds }}</h6>
    <h5>Accommodations and services</h5>
    <ol>
        <li>Bed with adjustable settings for patient comfort.</li>
        <li>Bedside table with drawers for personal belongings.</li> 
        <li>Wardrobe or closet for storing clothes.</li> 
        <li>Chair or recliner for visitors.</li> 
        <li>Television with remote control.</li> 
        <li>Nurse call system for immediate assistance.</li> 
        <li>Private bathroom with toilet, sink, and shower.</li> 
        <li>Bedside lamp for reading.</li> 
        <li>Window with curtains or blinds for natural light.</li> 
        <li>Wi-Fi access for internet connectivity.</li>
    </ol>
</div>

{% endblock %}


Double Room:
<li>Two beds with adjustable settings for patient comfort.</li> <li>Bedside tables with drawers for personal belongings.</li> <li>Wardrobes or closets for storing clothes.</li> <li>Chairs or recliners for visitors.</li> <li>Television(s) with remote control.</li> <li>Nurse call system for immediate assistance.</li> <li>Shared bathroom with toilet, sink, and shower.</li> <li>Bedside lamps for reading.</li> <li>Windows with curtains or blinds for natural light.</li> <li>Wi-Fi access for internet connectivity.</li>
Multi-Bed Room:
<li>Multiple beds with adjustable settings for patient comfort.</li> <li>Bedside tables with drawers for personal belongings.</li> <li>Wardrobes or closets for storing clothes.</li> <li>Chairs or recliners for visitors.</li> <li>Television(s) with remote control.</li> <li>Nurse call system for immediate assistance.</li> <li>Shared bathroom(s) with toilet, sink, and shower.</li> <li>Bedside lamps for reading.</li> <li>Windows with curtains or blinds for natural light.</li> <li>Wi-Fi access for internet connectivity.</li>