.nav-brand {
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: hsla(187, 87%, 48%, 0.623);
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.151);
}
.nav-brand1 {
  font-family: 'Arial', sans-serif;
  font-size: 34px;
  font-weight: bold;
  color: hsla(229, 100%, 46%, 0.404);
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.151);
}

.img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    img {
        max-width: 20%;
    }
}

@media (max-width: 400px) {
    img {
        max-width: 15%;
    }
}

.container {
  display: flex;
  align-items: center;
  gap: 10px;
  max-height: 100%;
}

.image {
  flex: 0 0 auto;
  margin-right: 5px; 
  object-fit: cover;
  height: 100%;
}

.card {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body_1 {
  background-color: #E6F2F8;
}

.body_2 {
  background-image: url("/static/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} 

.navbg {
  background-color: #bcd1fa;
}

.card_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 80%;
}

.custom-navbar {
  background-color: #ffffff;
  overflow: hidden;
}

.custom-navbar::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  height: 40px;
  background-image: linear-gradient(to bottom, #ffffff, #f8f8f8);
  border-bottom-left-radius: 88%;
  border-bottom-right-radius: 88%;
}

.slideshow-image {
  display: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
}

.clickable {
  cursor: pointer;
}

.small_img {
  width: 25%;
  height: 25%;
  object-fit: cover;
}

.centered-text {
  list-style-position: inside;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image_container {
  display: flex;
}

.mid_img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.bottom {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #b2cddb;
  padding: 20px;
  text-align: center;
}

.tiny_img {
  width: 10%;
  height: 10%;
  object-fit: cover;
}