{% extends "layout.html" %}

{% block title %}

History

{% endblock %}

{% block main %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for rows in history %}
        <tr>
            <td>{{ rows.name }}</td>
            <td>{{ rows.shares }}</td>
            <td>{{ rows.price }}</td>
            <td>{{ rows.time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}