{% extends "layout.html" %}

{% block title %}

Register

{% endblock %}

{% block main %}

<form action="/register" method="post">
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" required autofocus placeholder="Username" name="username" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" required placeholder="Password" name="password" type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" required placeholder="Confirm password" name="confirmation" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>

{% endblock %}