{% extends "layout.html" %}

{% block title %}

Sell

{% endblock %}

{% block main %}

<form action="/sell" method="post">
    <div class="mb-3">
        <select class="form-select mx-auto w-auto" name="symbol">
            <option disabled selected>Select</option>
            {% for symbol in symbols %}
            <option value="{{ symbol.name }}">{{ symbol.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" min="1" name="shares" placeholder="Shares" required type="number">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>

{% endblock %}